.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container1 img {
    max-width: 100%;
    min-height: 240px;
  }
  .proj-txtx h4{
    -webkit-text-stroke: 0.8px black;
  }
  .proj-txtx h4{
    -webkit-text-stroke: 0.2px black;
  }