@font-face {
	font-family: Centra;
	src: url('../../assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('../../assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('../../assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body{
  font-weight: 400;
  font-family: 'Centra',sans-serif !important;
  background-color: #121212 !important;
  color: #fff !important;
  overflow-x: hidden;
  position: relative;
}

.qr-container{
  padding: 100px 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.qr-container p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 50px auto;
  text-align: center;
  width: 56%;
}
.qr-title{
  margin-bottom: 10px ;
}
.Qrcode {
    background: white;
    padding: 10px;
    height: 200px;
  }
.qr-codes{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.qr-codes h2{
  margin-top: 10px;
}
.logo-app{
  height: 100px;
}
.download-windows{
  background-color: rgb(45, 0, 45);
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  padding: 20px;
  width: 200px;
  border: 2px solid rgb(225, 225, 225);
}
.download-android{
  background-color: rgb(87, 178, 87);
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  padding: 20px;
  width: 200px;
  border: 2px solid rgb(225, 225, 225);
}
.download-windows:hover{
  background-color: rgb(77, 29, 77);
}
.download-android:hover{
  background-color: rgb(2, 130, 2);
  
}
@media screen and (max-width: 790px) {
  .qr-codes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}